* {
    -fx-primary-color: #01B075;
    -fx-accent-color: #F64D38;
    -fx-secondary-color: #83FF12;

    -fx-focus-color: -fx-primary-color;
    -fx-darkest-grey-color: #323232;
}

.fields{
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-accent-color, #202125;
    -fx-background-insets: 0, 2 0 2 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-scale: 5;
}
.fields:focused{
    -fx-background-color: -fx-accent-color, #16171B;
}

.buttons{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: -fx-primary-color;
    -fx-font-weight: bold;
}
.check-box .box {
    -fx-background-color: #16171B;
    -fx-border-color: #16171B;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.check-box .mark {
    -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.check-box:selected .mark {
    -fx-background-color: #16171B;

}
.check-box:selected .box {
    -fx-background-color: -fx-primary-color;
}
.material-progress-bar .track {
    -fx-background-color: black;
}

.material-progress-bar .bar {
    -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.material-progress-bar .bar .bar-inner {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-radius: 5px;
}

.material-progress-bar .percentage {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}



